<table>
    <thead>
        <tr style="background-color: #F5F5F5;">
            <th>
                {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': comment.author} %}
                <span class="pull-right">{{ time_diff(comment.createdAt) }}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ comment.content | markdown}}</td>
        </tr>
    </tbody>
</table>