<div class="comment">
    <div class="cmeta">
        {% include 'OpensoftCodeConversationBundle::useravatar.html.twig' with {'user': comment.author} %}
        <span class="pull-right">{{ time_diff(comment.createdAt) }}</span>
    </div>
    <div class="body">
        <div class="formatted-content">{{ comment.content | markdown}}</div>
    </div>
</div>