{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% render 'OpensoftCodeConversationBundle:Project:header' with {'project': project} %}

    <h2>Pull Requests</h2>

    <a class="btn primary pull-right" href="{{ path('opensoft_codeconversation_pullrequest_create', {'projectName': project.name}) }}">Open pull request</a>

    {% if pullRequests|length > 0 %}
        {% include 'OpensoftCodeConversationBundle:PullRequest:table-list.html.twig' with {'pullRequests': pullRequests} %}
    {% else %}
        <p>
            There are no pull requests for {{ project.name }}.
        </p>
    {% endif %}
{% endblock %}
