{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% include 'OpensoftCodeConversationBundle::project-header.html.twig' with {'project': project} %}

    <div id="recent-commits">
        <h2>Recent commits on <span class="label">{{ branch.name }}</span></h2>

        {% include 'OpensoftCodeConversationBundle::commit-table.html.twig' with {'commits': project.recentCommits(branch.name)} %}
    </div>
{% endblock %}
