{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}

    {% include 'OpensoftCodeConversationBundle::project-header.html.twig' with {'project': project} %}

    {% include 'OpensoftCodeConversationBundle::commit.html.twig' with {'commit': recentCommit} %}

    <h4>README.md</h4>
    <table>
        <tr><td>{{ readme|markdown|nl2br }}</td></tr>
    </table>


{% endblock %}
