{% extends 'OpensoftGversationBundle::layout.html.twig' %}

{% block page_title %}About Opensoft Code Conversations{% endblock %}

{% block content %}
    <p>Opensoft Code Conversations was a mini-project created to solve the issue of code review.</p>

{% endblock %}