{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}
    <p>Opensoft Code Conversations was a mini-project created to solve the issue of code review.</p>

{% endblock %}