{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8">
            <table>
                <thead>
                    <tr>
                        <th>All Projects</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{{ path('opensoft_codeconversation_project_show', {'projectName': project.name }) }}">{{ project.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="span8">
            <h3>Site Activity</h3>
            {% for event in siteStream %}
                {% include 'OpensoftCodeConversationBundle::action.html.twig' with {'action': event} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}