{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block page_title %}Show commit {{ commit.sha1|truncate(6) }}{% endblock %}

{% block content %}

    {% include 'OpensoftCodeConversationBundle::commit.html.twig' with {'commit': commit, 'project': project} %}

    {% if commit.fileDiffs %}

        <p>Showing {{ commit.fileDiffs|length|default(0) }} files changed</p>
    
        {% include 'OpensoftCodeConversationBundle::diffs-table.html.twig' with {'diffs': commit.fileDiffs} %}

        <div>
            {% include 'OpensoftCodeConversationBundle::diffs-full.html.twig' with {'diffs': commit.fileDiffs} %}
        </div>
    {% endif %}
{% endblock %}