{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span10">
        <h2>Profile</h2>
        <p>{{ user.gitAlias }}</p>

        <img src="{{ gravatar(user.email) }}" alt="My gravatar image" />
        <p>Show more user data here that other people should see...</p>
    </div>
    <div class="span6">
        <h3>Activity Stream</h3>
        {% for event in stream %}
            {{ activity_stream_get_action(event) }}
        {% endfor %}
    </div>
</div>

{% endblock %}