{% extends 'OpensoftCodeConversationBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="span10">
        <h2>Profile</h2>
        <p>{{ user.gitAlias }}</p>

        <img src="{{ gravatar(user.gravatar) }}" alt="My gravatar image" />
        <p>Show more user data here that other people should see...</p>

        {% if user.username == app.user.username %}
            <div class="actions">
                <a class="btn primary" href="{{ path('fos_user_profile_edit') }}">Manage my profile</a>
            </div>
        {% endif %}

    </div>
    <div class="span6">
        <h3>Activity Stream</h3>
        {% for event in stream %}
            {% include 'OpensoftCodeConversationBundle::action.html.twig' with {'action': event} %}
        {% endfor %}
    </div>
</div>

{% endblock %}